@import "tailwindcss";

*{
    font-family: "Poppins", sans-serif;
}
:root{
  --main-color--:#004B29;
  --second-color--:#FDA600;
}
/* button{
  background-color: var(--bg-color--);
  color: white;
} */

/* For Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
