@import "tailwindcss";

@theme {
  --main-color:#DC3545;
  --second-color:#FEF3C7;
  --bg-color:#F8F9FA;
  --secondary-bg-color:#FFECEC;
  --text-color:#6B7280;
  --border-main:.1px solid #dc354630;
  --figma-border-color:#E5E5E5;
  --combin-color:linear-gradient(135deg, var(--main-color), var(--second-color));
--arrow-icons-color:#16A34A;

  --progress-bg-color:#FEF9C3;
  --progress-text-color:#854D0E;
  --pending-bg-color:#DBEAFE;
  --pending-text-color:#1E40AF;
  --complete-bg-color:#DCFCE7;
  --complete-text-color:#166534;
}

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 1600px;
    margin: auto;

  overflow-y: scroll;

outline: none;
}

:root{
  --main-color:#DC3545;
  --second-color:#FEF3C7;
  --bg-color:#F8F9FA;
  --sc-bg-color:#FFECEC;
  --text-color:#6B7280;
  --border-main-color:.1px solid #dc354630;
  --figma-border-color:#E5E5E5;
  --combin-color:linear-gradient(135deg, var(--main-color), var(--second-color));
--arrow-icons-color:#16A34A;

  --progress-bg-color:#FEF9C3;
  --progress-text-color:#854D0E;
  --pending-bg-color:#DBEAFE;
  --pending-text-color:#1E40AF;
  --complete-bg-color:#DCFCE7;
  --complete-text-color:#166534;
}


.main-container {
    background: var(--bg-color);
    border-radius: 8px;
    /* padding: 20px; */
    box-shadow: 0 1px 3px #0000001a;

    border: var(--border-main);
    transition: all .3s ease;
    position: relative;
}

.main-container-sidebar {
    background: var(--bg-color);
    border-radius: 8px;
    /* padding: 20px; */
    box-shadow: 0 1px 3px #0000001a;

    border-right: var(--border-main);
    transition: all .3s ease;
    position: relative;
}

.swal2-title,
.swal2-html-container {
  margin: 0 !important;
  padding: 0 !important;
  font-size:0 !important;
}


.project-btn {
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  transition: all 0.3s ease;

}

@media (max-width:768px) {
    .project-btn {
  /* background-color: var(--main-color); */
  color: #fff;
  font-size: 12px;
  padding: 5px 6px;
  /* border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  transition: all 0.3s ease; */

}
}

.project-btn:hover {
  background: var(--combin-color);
  color: black; /* yellow background pe readable ho */
  transform: scale(1.002);
  overflow: hidden;
  font-weight: 500;
}



/* For Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Smooth scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-400 {
  scrollbar-color: #9ca3af #e5e7eb;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 3px;
}


/* Toggle input style */
.toggle-input {
  position: relative;
  width: 44px;
  height: 22px;
  -webkit-appearance: none;
  background-color: var(--sc-bg-color);
  outline: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-input:checked {
  background-color: var(--main-color);
}

.toggle-input::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-input:checked::before {
  transform: translateX(22px);
}